

.cabecalho {
    text-align: center;
    color: rgb(80, 80, 116);
}
.icons {
    background-color: rgb(244, 247, 247);
    margin: 2%;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
ul li {
    font-size: 12px;
    list-style: none;
    padding-inline-end: 15px;
}
svg {
    margin: 4px;
}
.container {
    background-color: antiquewhite;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "menu bar bar" 
    "menu corpo corpo" 
    "menu apres apres" 
    "menu "
    ;
}
menu {
    
    background-color: blueviolet;
    grid-area: menu;

}
apres {

    background-color: bisque;
    grid-area: apres;

}
bar {
    background-color: blue;
    grid-area: bar;
  
}
corpo {
    background-color: brown;
    grid-area: corpo;
}
